
/*
This file contains all your CSS style rules. 
indent = 2 spaces, not tabs 

Reference: http://www.w3schools.com/css/default.asp */


/*Color Palette*/
/*4180AB,FFFFFF, 8AB3CF, BDD1DE, E4EBF0*/
/* because every browser has a built in stylesheet we have to reset those properties that we want to manipulate later. We do this by setting those properties to zero for the entire HTML document and any other tag selectors we want to redefine from scratch*/

html h1 {
  margin: 0;
}

/* next we set up those properties that we want to apply everywhere that is visible on the page using the body selector. Notice the "font-family" */

body {
  font-size: 1.1em;
  font-family: "Helvetica Neue", Helvetica, Verdana, sans-serif;
  background-color: #4180AB;
}

/* The container sits in the middle of the page and is a fixed width Reference: http://www.w3schools.com/css/css_boxmodel.asp
*/

p, li {
  color: white;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #8AB3CF;
}

/* The next set of styles pretty much just "open up" the page and create white space */

header {
  margin: 5%;
  clear: both;
/*  padding: 5%;
*/}

.page_heading {
  margin-left: 5%;
  padding-top: 1.5%;
}

.page_title {
  color: white;
  float: left;
}

.tagline {
  color: white;
  font-size: 20px;
  float: left;
}

.logo_img {
  float: right;
  /*padding-right: 1.5%;*/
  padding-bottom: 5%;
  display: inline-block;
  clear: both;
}



nav {
  float: left;
  width: 30%;
}

nav li{
  color: white;
}


.author_information {
  margin-left: 5%;
}

/* we want the validation pages to appear on the right side of the page inside the container */

.validation_badge {
  float: right;

}



/* the next three rules set the appearance of each weekly article, adding more whitespace, etc. */
.articles {
  width: 70%;
  float: left;
}

.article {
  margin: 0%;
}

.article_heading {
  width: 80%;
  margin-left: 5%;
  padding: 2%;
  border: 1px solid black;
  background-color: #BDD1DE;

}

.article_content {
  width: 80%;
  margin: 0 5% 0 5%;
  padding: 2%;
  border:1px solid gray;
  background-color: #E4EBF0;
  font color: black

}

.article_image {
  float:right;
  padding-left: 23px;
  padding-bottom: 23px;
}

.main {
  margin-bottom: 1.5em;
  display: block;
  clear: both;
}

.contact_information {
  width: 100%;
  font-size: .80em;
  min-height: 40px;
  text-align: center;
  margin: 5%;
  padding: 5%;
  clear:both;
  }

.photo_credit {
  font-size: .40em;
}

footer {
  clear: both;
}


@media (max-width: 700px) {
  .validation_badge {
    display: none;
  }
  .article_heading {
    border: none;
    background-color: #BDD1DE;
  }
  .container {
    width: 100%;
    margin:0;
    background-color: #E4EBF0;
  }

  .buttons {
   clear: both;
  }

  .logo_img {
    display: none;
  }

  .articles {
  width: 100%;
  }

  .main {
    margin-bottom: 1.5em;
  }

  .footer {
    margin-top: 1.5em;
    clear: both;
  }

}

